<h2>Show location</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @location.name %>
  </li>

  <li>
    <strong>Location:</strong>
    <%= @location.location %>
  </li>

</ul>

<%= link "Edit", to: location_path(@conn, :edit, @location) %>
<%= link "Back", to: location_path(@conn, :index) %>
